spring:
  mail:
    host: smtp.gmail.com
    username: <your_email>
    password: <your_email_password>
    port: 587
    protocol: smtp
    test-connection: true
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          starttls:
            enable: true